@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #f8fafc;
}

html,
body {
  padding: 0;
  margin: 0;
  background: var(--bg);
  font-family: ui-sans-serif, system-ui, sans-serif;
}

* {
  box-sizing: border-box;
}
